.protocolBalances {
  background-color: #f0f0fb;
  border-radius: 8px;
  margin-top: 1rem;
  font-weight: 700;
  padding: 1rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.titleAsset {
  flex: 1;
  text-align: left;
}

.titleAPY,
.titleBalance {
  flex: 1;
  text-align: center;
}

.titleContainer p {
  color: #4844ec;
}

.tokenList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 130px;
  overflow-y: scroll;
}

.tokenItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.tokenItem p {
  margin: 0;
}

.tokenInfoWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.apyInfoWrapper,
.balanceWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tokenInfo {
  display: flex;
  align-items: center;
  min-width: 0;
}

.tokenIcon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.tokenTextInfo {
  min-width: 0;
}

.tokenName {
  font-size: 0.5rem;
  color: #7b7b7b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tokenTicker {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.apyInfo {
  text-align: center;
}

.tokenAPY {
  font-size: 0.6rem;
  color: #000;
}

.tokenAPYWorth {
  font-size: 0.6rem;
  color: #5b9e4a;
}

.tokenBalance {
  font-size: 0.6rem;
  color: black;
  text-align: center;
}

.countdownWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.countdownNumber {
  font-size: 0.6rem;
  font-weight: bold;
}

.copyIcon {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.noAssetsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.noAssets {
  font-size: 10px;
  color: #717171;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
}
