.actionTab {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
  height: fit-content;
  width: 450px;
}

.title {
  color: var(--primary-ultramarine);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.titleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-ghost-white);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.infoContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.infoRow {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 10px;
  gap: 5px;
}

.infoLabel {
  color: var(--secondary-slate-blue);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.customiseIcon {
  cursor: not-allowed;
}

.warning {
  background-color: var(--failed-red);
  color: var(--failed-red-text);
  padding: 0.6rem 1.05rem;
  margin: 1rem 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
}
