.wrapper {
  position: relative;
  background-color: #f8f8f8;
  border-radius: 17px;
  overflow: hidden;
  transition: all 0.17s ease;
}

.error {
  box-shadow: 0 0 0 2px rgb(191, 0, 0);
}

.wrapper:focus-within {
  box-shadow: 0 0 0 2px var(--theme-color);
}

.error:focus-within {
  box-shadow: 0 0 0 2px rgb(191, 0, 0);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  user-select: none;
}

.label {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1rem;
  color: #b5b5b5;
  margin: 0;
  font-weight: 500;
  transform: translateY(-50%);
  transition: all 0.17s ease;
}

.hasContent {
  top: 1rem;
  font-size: 0.6rem;
  transform: translateY(0);
}

.wrapper:focus-within .label {
  font-size: 0.6rem;
  top: 1rem;
  transform: translateY(0);
}

.input {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #000;
  padding: 1.7rem 1.5rem 1.05rem;
  outline: none;
  width: calc(100% - 3rem);
  z-index: 2;
  transition: all 0.17s ease;
}

.icon {
  position: absolute;
  color: #b5b5b5;
  top: 50%;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-50%);
}
