.container {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  color: var(--secondary-slate-blue);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.assetsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 286px;
}

.emptyStateIcon {
  margin-bottom: 16px;
}

.emptyStateTitle {
  color: var(--primary-ultramarine);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.emptyStateText {
  color: var(--secondary-periwinkle);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  width: 230px;
  overflow: auto;
}

.lendContainer {
  min-height: 390px;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.borrowContainer {
  min-height: 390px;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.lendContainer.expanded {
  height: 100%;
}

.borrowContainer.expanded {
  height: 100%;
}
