.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  width: 400px;
  cursor: default;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-slate-blue);
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-ghost-white);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-ghost-white);
  border-radius: 12px;
}

.profileDetails {
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.profileImage {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.userName {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  color: var(--secondary-slate-blue);
  font-weight: 600;
  margin: 0;
}

.addressContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.addressContainer span {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  color: var(--secondary-periwinkle);
  font-weight: 600;
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-left: 4px;
  height: 10px;
}

.copyButton img {
  height: 10px;
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.profileImageContainer {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
