.marketStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.marketContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;
  padding: 24px;
  border-radius: 24px;
}

.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-ghost-white);
  height: 80px;
  width: 80px;
  border-radius: 24px;
}

.marketStat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.marketStatValue {
  margin: 0;
  color: var(--primary-ultramarine);
  font-weight: 600;
  font-size: 30px;
}

.marketStatTitle {
  margin: 0;
  color: var(--secondary-periwinkle);
  font-weight: 600;
  font-size: 12px;
}
