.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--background);
  overflow-y: auto;
  min-height: calc(100vh - 150px);
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 25px;
}

.titleWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.titleLink {
  display: flex;
  gap: 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.backIcon {
  color: var(--secondary-slate-blue);
}

.title {
  color: var(--secondary-slate-blue);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}
