.mintTokens {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
}

.title {
  color: var(--secondary-slate-blue);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.disclaimer {
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
}
