.connectContainer {
  position: relative;
  display: inline-block;
}

.connectButton {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding: 7px 10px;
  font-size: 13px;
  background: var(--primary-palatinate-blue);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid var(--primary-palatinate-blue);
  transition: all 0.18s ease;
}

.connectButton:hover {
  background-color: white;
  color: var(--primary-palatinate-blue);
}

.profileContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 4px;
}

.dropdown {
  position: absolute;
  top: calc(100%);
  right: 0;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  z-index: 1000;
  width: 200px;
  cursor: default;
}

.addressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.addressContainer span {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: var(--primary-palatinate-blue);
  font-weight: 700;
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.copyButton img {
  height: 14px;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.balance img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.balance span {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: var(--primary-ultramarine);
  font-weight: 600;
}

.logoutButton {
  width: 100%;
  background: var(--primary-ghost-white);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: var(--primary-palatinate-blue);
  cursor: pointer;
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
