.connectContainer {
  position: relative;
  display: inline-block;
}

.connectButton {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding: 7px 10px;
  font-size: 13px;
  background: var(--primary-palatinate-blue);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid var(--primary-palatinate-blue);
  transition: all 0.18s ease;
}

.connectButton:hover {
  background-color: white;
  color: var(--primary-palatinate-blue);
}

.profileContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-left: 4px;
}

.dropdown {
  position: absolute;
  top: calc(100%);
  right: 0;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  z-index: 1000;
  width: 318px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-slate-blue);
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-ghost-white);
  border-radius: 12px;
}

.profileDetails {
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.profileImage {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.userName {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  color: var(--secondary-slate-blue);
  font-weight: 600;
  margin: 0;
}

.addressContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.addressContainer span {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  color: var(--secondary-periwinkle);
  font-weight: 600;
}

.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-left: 4px;
  height: 10px;
}

.copyButton img {
  height: 10px;
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
