.screen {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  z-index: 1001;
  position: relative;
}

.closeContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-ghost-white);
  width: 26px;
  height: 26px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.okButton {
  margin: 1rem auto 0;
  padding: 11px 24px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: all 0.18s ease;
  background-color: var(--primary-palatinate-blue);
  color: white;
}

.okButton:hover {
  background-color: #322ece;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.loadingState {
  color: var(--primary-ultramarine);
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.signingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.stateMessage {
  color: var(--secondary-periwinkle);
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  text-align: center;
  width: 75%;
}

.actionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.actionContainer p {
  margin: 0;
  color: var(--secondary-slate-blue);
  font-size: 15px;
  font-weight: 500;
}

.viewLink {
  color: black;
  font-size: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBox {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: .43rem;
  background-color: #fff;
  border-radius: 12px;
  padding: .8rem 1.35rem;
  cursor: pointer;
  z-index: 10000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
