.inputContainer {
  background-color: var(--primary-ghost-white);
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.inputContainer.focused {
  border-color: var(--primary-palatinate-blue);
}

@keyframes flashError {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: var(--failed-red-text);
  }
  100% {
    border-color: transparent;
  }
}

.inputContainer.error {
  animation: flashError 0.8s ease;
}

.inputSection {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.inputWithPrices {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
}

.baseAmount {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-ultramarine);
  opacity: 0.5;
  text-decoration: line-through;
}

.amountInput {
  width: 100%;
  height: 48px;
  font-size: 24px;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-ultramarine);
  font-family: "DM Sans", sans-serif;
}

.amountInput::placeholder {
  color: var(--primary-ultramarine);
}

.tokenSelector {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-ultramarine);
}

.valueSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.usdValueContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.baseUsdValue {
  color: var(--secondary-periwinkle);
  font-size: 10px;
  font-weight: 700;
  text-decoration: line-through;
  opacity: 0.5;
}

.usdValue {
  color: var(--secondary-periwinkle);
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}

.walletInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  color: var(--secondary-periwinkle);
  font-weight: 700;
}

.balanceAmount {
  font-size: 10px;
}

.separator {
  margin: 0 4px;
}

.maxButton {
  color: var(--primary-palatinate-blue);
  background: none;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  font-size: 10px;
  font-weight: 700;
}

.disabled {
  cursor: not-allowed;
}

.disabled .amountInput {
  cursor: not-allowed;
}
