.marketStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  gap: 5px;
}

.marketStat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
  width: 200px;
}

.marketStatValue {
  margin: 0;
  color: var(--primary-ultramarine);
  font-weight: 600;
  font-size: 30px;
}

.marketStatTitle {
  margin: 0;
  color: var(--secondary-periwinkle);
  font-weight: 600;
  font-size: 12px;
}
