.submitButton {
  width: 100%;
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.18s ease;
  background-color: var(--primary-palatinate-blue);
  color: white;
}

.submitButton:hover {
  opacity: 0.87;
}
