.actionTab {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
}

.borrowTitle {
  color: var(--secondary-slate-blue);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.infoContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.infoLabel {
  color: var(--secondary-periwinkle);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.customiseIcon {
  cursor: not-allowed;
}
