.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 3rem;
  width: 100%;
  background-color: white;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.manageAnalytics {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-slate-blue);
}

.support {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-slate-blue);
}

.feedback {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-slate-blue);
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.version p {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-slate-blue);
}

.version a {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-slate-blue);
}

.socials {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.socials > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}
