.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
  margin: 0;
}

.footer a {
  color: #717171;
  text-decoration: none;
}

.footer p {
  margin: 0;
}

.title {
  color: #4844ec;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.copyright {
  color: #717171;
  margin: 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socialIcons img {
  width: 20px;
  height: 20px;
}
