.connectButton {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding: 7px 10px;
  font-size: 13px;
  background: #4844ec;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #4844ec;
}

.connectButton:hover {
  background-color: white;
  color: #4844ec;
}
