.currentToken {
  width: 300px;
  padding: 15px;
  background-color: #f0f0fb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  font-weight: 700;
}

.tokenHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.tokenInfoWrapper {
  display: flex;
  justify-content: left;
  align-items: top;
}

.chartRangeSelector {
  display: flex;
  gap: 8px;
}

.chartRangeButton {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding: 2px 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000000;
  transition: color 0.2s ease;
  font-size: 12px;
}

.activeChartRangeButton {
  color: #4844ec;
}

.tokenLogo {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.tokenNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tokenNameAndAPY {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.tokenAPY {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #5b9e4a;
}

.tokenName {
  font-size: 14px;
  color: #7b7b7b;
  margin: 0.5rem 0;
}

.tokenPrice {
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.priceChartWrapper {
  height: 40px;
}
