.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 0 2rem;
  height: 89vh;
  gap: 120px;
}

.mainTokenContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.mainToken {
  width: 300px;
}

.otherTokens {
  width: 300px;
}

.depositFunction {
  width: 100%;
}

.connectWalletReminder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.connectWalletReminder p {
  color: #7b7b7b;
  font-size: 1rem;
}

.loadingState {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingState img {
  height: 100px;
  width: 100px;
}
