.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  transform: none;
  background-color: var(--secondary-periwinkle);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 9999;
  margin-top: 5px;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 10px;
  transform: none;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-periwinkle);
}
