.protocolBalance {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  color: var(--secondary-slate-blue);
  font-weight: 700;
  margin: 0 0 16px 0;
}

.balance {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  line-height: 1;
}

.balanceIcon {
  margin-right: 12px;
}

.amount {
  font-size: 48px;
  font-weight: 700;
  font-weight: bold;
  color: var(--primary-ultramarine);
  margin: 0;
  margin-right: 6px;
  line-height: 1;
}

.currency {
  font-size: 30px;
  color: var(--secondary-slate-blue);
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.actions {
  display: flex;
  gap: 12px;
  margin: 0;
}

.button {
  padding: 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}

.supplyButton {
  background-color: var(--primary-palatinate-blue);
  color: white;
}

.supplyButton:hover {
  background-color: #322ece;
}

.borrowButton {
  background-color: var(--secondary-tea-green);
  color: black;
}

.borrowButton:hover {
  background-color: #a6c45d;
}

.aprSection {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

.aprContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.aprLabel {
  font-size: 12px;
  color: var(--secondary-slate-blue);
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  text-align: right;
}

.aprValue {
  font-size: 16px;
  color: var(--secondary-slate-blue);
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  line-height: 1;
  justify-content: flex-end;
  width: 100%;
}

.aprText {
  margin: 0;
  text-align: right;
}

.graph {
  width: 190px;
  height: 100px;
}
