.actionTab {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  color: var(--secondary-slate-blue);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-ghost-white);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tokenDetails {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.tokenName {
  margin: 0;
  color: var(--primary-ultramarine);
  font-size: 14px;
  font-weight: 600;
}

.ticker {
  margin: 0;
  color: var(--secondary-periwinkle);
  font-size: 14px;
  font-weight: 600;
}

.aprInfo {
  text-align: right;
}

.apr {
  margin: 0;
  font-size: 14px;
  color: var(--primary-ultramarine);
  font-weight: 600;
}

.aprChange {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.percentageChange {
  margin: 0;
  color: var(--secondary-periwinkle);
  font-size: 14px;
  font-weight: 600;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 24px;
}

.infoLabel {
  color: var(--secondary-periwinkle);
  font-weight: 700;
}
