.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--background);
  overflow-y: auto;
  min-height: calc(100vh - 150px);
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 25px;
}

.widgetContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}

.widgetLeftContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.widgetRightContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
}

.viewTxns {
  padding: 9px;
  border-radius: 50px;
  font-size: 9px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.18s ease;
  color: black;
  background: var(--secondary-tea-green);
}

.viewTxns:hover {
  background: #a6c45d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 100%;
  max-width: 480px;
  background: white;
  border-radius: 24px;
}
