.banner {
  width: 100%;
  background-color: var(--primary-palatinate-blue);
  color: white;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner p {
  margin: 0;
  font-size: 0.75rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.closeButton {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  opacity: 0.8;
}
