.assetRowWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.assetRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 10px);
  padding: 12px 16px;
  transition: all 0.3s ease-in-out;
  background: white;
  transform: translateX(0);
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

/* Add animation for the indicator */
@keyframes showWithdrawButton {
  0% {
    transform: translateX(0);
    background: white;
  }
  30% {
    transform: translateX(-63px);
    background: white;
  }
  70% {
    transform: translateX(-63px);
    background: white;
  }
  100% {
    transform: translateX(0);
    background: white;
  }
}

.assetRowWrapper.showIndicator .assetRow {
  animation: showWithdrawButton 1s ease-in-out;
}

/* Hover styles */
.assetRowWrapper:hover .assetRow {
  transform: translateX(-63px);
  background: var(--primary-ghost-white);
}

/* Animation takes precedence while active */
.assetRowWrapper.showIndicator .assetRow {
  animation: showWithdrawButton 1s ease-in-out;
}

.assetInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.nameAmount {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  color: var(--primary-ultramarine);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.amount {
  color: var(--secondary-periwinkle);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.aprInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  flex-shrink: 0;
}

.apr {
  color: var(--primary-ultramarine);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.changeInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.change {
  color: var(--secondary-periwinkle);
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.withdrawButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 75px;
  padding: 8px 16px;
  background: var(--secondary-slate-blue);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 20px;
  z-index: 1;
}

.withdrawButton span {
  font-size: 9px;
  text-align: center;
  white-space: nowrap;
  padding-left: 10px;
  font-weight: 600;
  padding-left: 17px;
}

.withdrawIcon {
  margin-left: 17px;
}
