.activityContainer {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 10px;
  flex-direction: column;
}

.activityTitleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.activityTitle {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: var(--secondary-periwinkle);
  font-weight: 600;
  margin: 0;
}

.activity {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 2px;
  min-height: 130px;
}

.transactionsList {
  max-height: 130px;
  overflow-y: auto;
  padding-right: 8px;
  width: 100%;
}

.statusMessage {
  text-align: center;
  padding: 1rem;
  color: var(--secondary-periwinkle);
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: auto 0;
}
