.activityContainer {
  display: flex;
  align-items: left;
  gap: 10px;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.activityTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

.exportContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exportText {
  font-size: 10px;
  color: var(--secondary-slate-blue);
  font-weight: 600;
}

.activityTitle {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: var(--secondary-slate-blue);
  font-weight: 600;
  margin: 0;
}

.refreshIcon {
  cursor: pointer;
}

/* Animation for refresh icon */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: spin 0.5s linear;
}

.activity {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.transactionsList {
  overflow-y: auto;
  padding-right: 8px;
  width: 100%;
  height: 100%;
}

/* no transactions found  */

.statusMessage {
  text-align: center;
  padding: 1rem;
  color: var(--secondary-periwinkle);
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: auto 0;
}

.noTransactionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}

.noTxnTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  text-align: center;
  width: 220px;
}

.noTransactionsFound {
  font-weight: 600;
  color: var(--primary-ultramarine);
  font-size: 15px;
}

.highestAPY {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--secondary-periwinkle);
  font-size: 13px;
  flex-direction: column;
}

.highestAPYText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.apyNumber {
  text-decoration: underline solid var(--secondary-periwinkle) 1px;
}
